.tituloCarrito {
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: bold;
    background-color: black;
    color: white;

}

.importeTotal {
    background-color: black;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    align-items: right;
}

.contenedorEnCart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.formCart {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: "Roboto";
    font-weight: bold;


}
