
.contenedorLayout {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    text-decoration: none;

}

.contenedorHeaderLayout {
    display: flex;
    justify-content: space-between;
    background-color: white;
    
  }
.contenedorHeaderLayout a {
    text-decoration: none;
  }

.contenedorMain {
    flex: 1
    
}