.blendContainer {
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.imgBlend {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.tituloBlend {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: bold;

}