.contenedorFooter {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.parrafoFooter {
    color: black;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: bold;
}